:root{
  /* Background color's */
  --primary: #4169E1;
  --primary-variant: #004BBD;
  --primary--alpha: rgba(65, 105, 225, .25);
  --primary-variant--alpha: rgba(0, 75, 189, .4);
  --secondary: #fff;
  --secondary-variant: #e9f1f7;

  /* Text color's */
  --text: #333;
  --text-secondary: var(--primary);

  /* Other rules */
  --bg-color: #F8F8F8;
  --border-radius: 7px;
  --border-radius-big: 20px;
  --border-radius-round: 100px;
  --box-shadow: 0 0 15px -3px #c0c0c0;
  --text-shadow: 0 0 15px #000;
}

html{
  font-family: GoogleSans;
  font-size: 16px;
  line-height: 1.5;
}

html, body, *, *::before, *::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body{
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text);
}

a{
  color: inherit;
  text-decoration: none;
}

img{
  display: block;
}

textarea{
  resize: none;
}

input[type="submit"]{
  display: block;
}

i{
  margin-right: 5px;
}

.footer-navbar-item i{ color: transparent; }
.footer-navbar-item:hover i{ color: currentColor; }

/* page-header style's */
.page-header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: .75rem;
  left: 1.5rem;
  width: calc(100% - 3rem);
  z-index: 1000;
}

.page-header--logo{
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  border-radius: 100px;
  background-color: var(--secondary);
  box-shadow: var(--box-shadow);
  transform: translate(-200%, -0.4rem);
  transition: transform .75s;
}
.page-header--logo.show {
  transform: translate(0, -0.4rem);
}

.page-header--navbar{
  display: flex;
  justify-content: space-evenly;
  width: 35vw;
  height: 2.4rem;
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  box-shadow: var(--box-shadow);
}

.navbar--item{
  display: block;
  position: relative;
  padding: .45rem;
  color: var(--text);
  overflow: hidden;
}

.navbar--item:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--text-secondary);
  transform: scale(0);
  transform-origin: center;
  transition: transform .20s;
}
.navbar--item.active, .navbar--item:hover{
  color: var(--text-secondary);
}
.navbar--item.active:before, .navbar--item:hover:before{
  transform: scale(1);
}

.page-content--banner{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--secondary);
  overflow: hidden;
}
.banner-background{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.logo-lema{
  top: 50%;
  left: 50%;
  width: 65vw;
  height: 28vw;
  transform: translate(-50%, -50%);
}
.banner-title{
  font-size: 5rem;
  transform: translate3d(calc(-25% + 5rem), 0, 0);
  animation: bannerTitleAnimation backwards 1.25s;
}
@keyframes bannerTitleAnimation {
  from{ transform: translate3d(calc(-100% + 5rem), 0, 0); }
  90%{ transform: translate3d(calc(-15% + 5rem), 0, 0); }
}
.banner-subtitle{
  font-size: 2.5rem;
  transform: translate3d(calc(25% + 5rem), 0, 0);
  animation: bannerSubtitleAnimation 1.25s;
}
@keyframes bannerSubtitleAnimation {
  from{ transform: translate3d(calc(100% + 5rem), 0, 0); }
  90%{ transform: translate3d(calc(15% + 5rem), 0, 0); }
}
.banner-title, .banner-subtitle{
  text-shadow: 3px 3px rgba(0, 0, 0, .35);
}
.banner-tooltip{
  position: absolute;
  top: 30%;
  left: calc(55% + 5rem);
  width: 250px;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: center;
  animation: bannerTooltipAnimation .4s 1.25s forwards;
  transform: scale3d(1, 0, 1) rotate3d(0, 1, 0, 20deg);
  transform-origin: bottom;
}
.banner-tooltip:before{
  content: "";
  position: absolute;
  bottom: -22px;
  left: 40%;
  width: 25px;
  height: 25px;
  background-color: inherit;
  transform: rotate(45deg) translateY(-50%);
}
@keyframes bannerTooltipAnimation {
  to{ transform: scale3d(1, 1, 1) rotate(20deg); }
}

.page-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-center{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-form{
  --form-primary: #002F73;
  --form-secondary: #fff;
  position: relative;
  background-color: var(--form-primary);
  color: var(--form-secondary);
  text-align: center;
  padding: 5rem;
  margin: 7rem 0;
  border-radius: 1000px;
  box-shadow: -12em -8em 0 -5em #1C71E6,
    -15em 7em 0 -12em #1B519E,
    11em 9em 0 -5em #1C71E6,
    8em -14em 0 -12em #1B519E,
    12em -4.5em 0 -7em #FFE44B,
    -3.5em 12em 0 -7em #FFE44B;
}

.form-notificator{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255, .85);
  color: var(--form-primary);
  border-radius: 1000px;
  font-size: 1.25rem;
  font-weight: bold;
  transform: scale(0);
  transition: transform .35s;
  z-index: 10;
}
.form-notificator.active{ transform: scale(1); }
.form-notificator span{ animation: point .75s infinite alternate; }
.form-notificator span:nth-child(2){ animation-delay: .75s; }

@keyframes point {
  from{ transform: translateY(-1.5px); }
  to{ transform: translateY(1.5px); }
}

input[type="submit"], .form-field-container--field, .form-field-container{
  display: block;
  border: none;
  outline: none;
}

.form-field-container{
  text-align: left;
  margin-bottom: 1.5rem;
  width: 100%;
}

.form-field-container--label{
    line-height: 2;
}

.form-field-container--field{
  box-sizing: border-box;
  width: inherit;
  padding: .5rem .75rem;
  border-radius: 20px;
}

.form-field-submit{
  padding: .55rem 2rem;
  background-color: #1C71E6;
  color: var(--form-secondary);
  border-radius: var(--border-radius-big);
  margin: 0 auto;
  transition: box-shadow .5s, background-color .5s, transform .25s;
  box-shadow: 0 0 10px 0 transparent;
  transform: scale(1);
}
.form-field-submit:hover{
  background-color: #085DD2;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, .25);
}

.form-field-submit:active{
  transform: scale(.95);
}

.header-section-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 35vh;
  background: url("../img/background-section.png") no-repeat center center;
  text-align: center;
  padding: 1rem;
}
.header-section-page--background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-section-page--title{
  color: var(--secondary);
  font-size: 3rem;
  z-index: 20;
  text-shadow: var(--text-shadow);
}

.content-section-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}


/* card's styles */
.card{
  --padding-img: 6rem;
  --translate-value: 75px;
  --padding-top-bottom: 1rem;
  --padding-left-right: 2rem;
  position: relative;
  padding: var(--padding-top-bottom) var(--padding-left-right);
  width: 50vw;
  min-height: 8rem;
  margin-bottom: 3rem;
  text-align: center;
  background-color: var(--secondary);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-big);
}
.card:nth-child(odd){ 
  padding-right: var(--padding-img);
  transform: translateX(var(--translate-value));
}
.card:nth-child(even){ 
  padding-left: var(--padding-img); 
  transform: translateX(-var(--translate-value));
}
.card-title{
  margin-bottom: 1.25rem;
}
.card-img{
  position: absolute;
  top: 50%;
  height: calc(5rem + 15px);
  padding: 15px;
  background-color: var(--secondary);
  border-radius: var(--border-radius-round);
  box-shadow: var(--box-shadow);
}
.card:nth-child(odd) .card-img{ 
  right: 0;
  transform: translate(50%, -50%) scale(1.1);
}
.card:nth-child(even) .card-img{
  left: 0;
  transform: translate(-50%, -50%) scale(1.1);
}


.team-card{
  --padding-img: 0;
  --translate-value: 0;
  margin-bottom: 7rem;
}
.team-card:nth-child(odd), .team-card:nth-child(even){
  padding: 1rem 9rem 4rem 9rem;
  transform: translate(0);
}
.team-card:first-child{ margin-top: 7rem; }
.team-card .card-img{
  top: 0;
  left: 1rem;
  transform: translate(0, -50%);
  border: 7.5px solid var(--bg-color);
  padding: 0;
  box-shadow: none;
}
.team-card:nth-child(odd) .card-img, .team-card:nth-child(even) .card-img{
  left: 0;
  transform: translate(50%, -50%) scale(1.5);
}
.team-card .social-bar{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 1rem;
  right: 1rem;
  width: 9rem;
}
.social--item{
  height: 1.75rem;
}


/* about section: rules ajuster */
.about--card{
  --padding-img: 3.75rem;
  --translate-value: 0;
  height: 8rem;
  padding: 1rem 1rem !important;
  transform: translateX(0);
}

.about--card:nth-child(odd){
  padding-right: var(--padding-img) !important;
  transform: translateX(var(--translate-value)) !important;
}
.about--card:nth-child(even){
  padding-left: var(--padding-img) !important;
  transform: translateX(-var(--translate-value)) !important;
}

.about--card-img{
  width: 5.5rem;
  height: 5.5rem;
  object-fit: scale-down;
}

.about--card-valores{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about--card-history{
  --padding-img: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0;
}
.about--card-history__img{
  display: block;
  width: 100%;
  height: 28.13vw;
  object-fit: cover;
}
.about--card-history .card-title{
  margin-top: 1rem;
}
.about--card-history .card-content{
  padding: 0 1rem 1rem 1rem;
}


/* Footer Style */
.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  background-color: var(--primary);
  color: var(--secondary);
}
.footer--section{
  display: flex;
  flex-direction: column;
}
.footer-navbar-item{
}

/* Class Utilities */
.z-index-100{ z-index: 100; }

.mb-2{ margin-bottom: 2rem; }

.author-info{
  display: flex;
  align-items: center;
  padding-top: .75rem;
}
.author-info img{
  display: inline-block;
  width: 2.25rem;
  margin-left: 1rem;
  object-fit: contain;
}


/*  Responsive media querys  */
/* SMARTPHONE DEVICE */
@media (max-width: 768px){
  .page-header{
    background-color: var(--secondary);
    top: 0;
    left: 0;
    width: calc(100% - 1rem);
    padding: 0 .5rem;
  }

  .page-header--logo{
    transform: translate(0);
    box-shadow: none;
    height: 2.4rem;
  }
  .page-header--logo.show{
    transform: translate(0);
  }

  .page-header--navbar{
    box-shadow: none;
    width: 70%;
    height: inherit;
  }
  .navbar--item{
    display: flex;
    align-items: center;
    height: inherit;
  }

  .page-content{
    padding-top: 2.5rem;
  }

  .page-content--banner{
    height: 40vh;
  }
  .banner-background{
    object-fit: fill;
  }
  .banner-tooltip{
    top: 18%;
    left: 52%;
    font-size: .80rem;
    width: 180px;
  }

  .header-section-page{
    height: 10vh;
  }
  .header-section-page--title{
    font-size: 1.5rem;
  }

  .question-form{
    font-size: 12px;
    padding: 3em;
    margin: 3rem 0;
    box-shadow: -10em -7em 0 -8em #1C71E6,
    -15em 7em 0 -12em #1B519E,
    11em 9em 0 -8em #1C71E6,
    7em -10em 0 -10em #1B519E,
    12em -4.5em 0 -7em #FFE44B,
    -5em 10em 0 -7em #FFE44B;
  }

  .card{
    font-size: 12px;
  }
}

@media (max-width: 460px){
  .page-header--navbar{
    width: 80%;
    font-size: 0.85rem;
  }

  .banner-tooltip{
    left: 50%;
    width: 120px;
    font-size: .55rem;
  }

  .logo-lema{
    width: 70vw;
    height: 33vw;
  }
}

/* TABLES DEVICES */
@media (min-width: 769px) and (max-width: 1024px){
  .page-header--navbar{
    width: 50%;
  }

  .page-content--banner{
    height: 75vh;
  }
  .banner-background{
    object-fit: fill;
  }

  .banner-tooltip{
    left: 55%;
  }

  .header-section-page{
    text-align: center;
  }
  .header-section-page--title{
    font-size: 2.5rem;
  }

  .card{
    font-size: 16px;
  }
}

/*  SMARTPHONE AND TABLE TO REDUCE CODE */
@media (max-width: 768px), (min-width: 769px) and (max-width: 1024px){
  .card{
    --padding-img: 0;
    --translate-value: 0;
    width: 75vw;
    transform: translate(0);
  }
  .card:nth-child(odd), .card:nth-child(even){
    transform: translate(0);
    padding-left: var(--padding-top-bottom);
    padding-right: var(--padding-top-bottom);
  }
  .card-img{
    position: static; !important;
    height: calc(3rem + 15px);
  }
  .card:nth-child(odd) .card-img, .card:nth-child(even) .card-img{
    transform: translate(0);
  }

  .card-img{
    margin: 0 auto;
    margin-bottom: .75rem;
  }

  .team-card{
    margin-bottom: 2rem;
  }
  .team-card:first-child{
    margin-top: 2rem;
  }

  .team-card .card-img{
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
  }

  .about--card{
    --padding-img: 0; !important;
    height: auto;
  }

  .about--card:nth-child(odd),
  .about--card:nth-child(even){
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    transform: translate(0) !important;
  }

  .about--card-img{
    margin-top: 1rem;
  }

  .footer-content{
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 2.5rem;
  }

  .footer--section{
    margin-bottom: 2rem;
  }
  .footer--section:last-child{
    margin-bottom: 0;
  }

}

/* TO CORRECT TOOLTIP-BANNER POSITION IN THIS WIDTH */
@media (min-width: 850px) and (max-width: 1024px){
  .banner-tooltip{
    left: calc(55% + 2rem);
  }
}

/* LARGE DEVICES */
@media (min-width: 1025px) and (max-width: 1280px){
  .about--card{
    min-height: 10rem;
    width: 60vw !important;
    --padding-img: 5rem;
  }

  .footer-content{
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 2.5rem;
  }

  .footer--section{
    margin-bottom: 2rem;
  }
  .footer--section:last-child{
    margin-bottom: 0;
  }
}


