:root{
  /* Background color's */
  --primary: #4169E1;
  --primary-variant: #004BBD;
  --primary--alpha: rgba(65, 105, 225, .25);
  --primary-variant--alpha: rgba(0, 75, 189, .4);
  --secondary: #fff;
  --secondary-variant: #e9f1f7;

  /* Text color's */
  --text: #333;
  --text-secondary: var(--primary);

  /* Other rules */
  --bg-color: #ebebeb;
  --border-radius: 7px;
  --border-radius-big: 20px;
  --border-radius-round: 100px;
  --box-shadow: 0 0 15px -3px #c0c0c0;
  --text-shadow: 0 0 15px #000;
}

html{
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: GoogleSans;
  font-size: 16px;
  line-height: 1.5;
}

*, *::before, *::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body{
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text);
}

a{
  text-decoration: none;
}

img{
  display: block;
}


/* page-header style's */
.page-header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: .75rem;
  left: 1.5rem;
  width: calc(100vw - 3rem);
  z-index: 1000;
}

.page-header--logo{
  width: 3.4rem;
  height: 3.4rem;
  object-fit: cover;
  border-radius: 100px;
  background-color: var(--secondary);
  box-shadow: var(--box-shadow);
  transform: translate(-200%, -0.4rem);
  transition: transform .75s;
}
.page-header--logo.show {
  transform: translate(0, -0.4rem);
}

.page-header--navbar{
  display: flex;
  justify-content: space-evenly;
  width: 35vw;
  height: 2.4rem;
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  box-shadow: var(--box-shadow);
}

.navbar--item{
  display: block;
  position: relative;
  padding: .45rem;
  color: var(--text);
  overflow: hidden;
}

.navbar--item:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--text-secondary);
  transform: scale(0);
  transform-origin: center;
  transition: transform .20s;
}
.navbar--item.active, .navbar--item:hover{
  color: var(--text-secondary);
}
.navbar--item.active:before, .navbar--item:hover:before{
  transform: scale(1);
}

.page-content--banner{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: var(--secondary);
}
.banner-background{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-lema{
  top: 50%;
  left: 50%;
  width: 65vw;
  height: 28vw;
  transform: translate(-50%, -50%);
}
.banner-title{
  font-size: 5rem;
  transform: translate3d(calc(-25% + 5rem), 0, 0);
  animation: bannerTitleAnimation backwards 1.25s;
}
@keyframes bannerTitleAnimation {
  from{ transform: translate3d(calc(-100% + 5rem), 0, 0); }
  90%{ transform: translate3d(calc(-15% + 5rem), 0, 0); }
}
.banner-subtitle{
  font-size: 2.5rem;
  transform: translate3d(calc(25% + 5rem), 0, 0);
  animation: bannerSubtitleAnimation 1.25s;
}
@keyframes bannerSubtitleAnimation {
  from{ transform: translate3d(calc(100% + 5rem), 0, 0); }
  90%{ transform: translate3d(calc(15% + 5rem), 0, 0); }
}
.banner-title, .banner-subtitle{
  text-shadow: 3px 3px rgba(0, 0, 0, .35);
}
.banner-tooltip{
  position: absolute;
  top: 30%;
  left: calc(55% + 5rem);
  width: 250px;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: center;
  animation: bannerTooltipAnimation .4s 1.25s forwards;
  transform: scale3d(1, 0, 1) rotate3d(0, 1, 0, 20deg);
  transform-origin: bottom;
}
.banner-tooltip:before{
  content: "";
  position: absolute;
  bottom: -22px;
  left: 40%;
  width: 25px;
  height: 25px;
  background-color: inherit;
  transform: rotate(45deg) translateY(-50%);
}
@keyframes bannerTooltipAnimation {
  to{ transform: scale3d(1, 1, 1) rotate(20deg); }
}

.section-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-name{ text-align: center; }
.form-field-container{
  display: flex;
  flex-direction: column;
  border: none;
}
.form-field-container--label{
  margin-bottom: .5rem;
}
.form-field-container--field{
  margin-bottom: 2rem;
}

.header-section-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 35vh;
}
.header-section-page--background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-section-page--title{
  color: var(--secondary);
  font-size: 3rem;
  z-index: 20;
  text-shadow: var(--text-shadow);
}

.content-section-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


/* card's styles */
.card{
  --padding-img: 6rem;
  --translate-value: 75px;
  position: relative;
  padding: 1rem 2rem;
  width: 50vw;
  margin-bottom: 3rem;
  text-align: center;
  background-color: var(--secondary);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-big);
}
.card:nth-child(odd){ 
  padding-right: var(--padding-img);
  transform: translateX(var(--translate-value));
}
.card:nth-child(even){ 
  padding-left: var(--padding-img); 
  transform: translateX(-var(--translate-value));
}
.card-img{
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: var(--border-radius-round);
  box-shadow: var(--box-shadow);
}
.card:nth-child(odd) .card-img{ 
  right: 0;
  transform: translateX(50%) scale(1.1);
}
.card:nth-child(even) .card-img{
  left: 0;
  transform: translateX(-50%) scale(1.1);
}


/* Footer Style */
.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  padding: 1.5rem;
}
.footer--section{
  display: flex;
  flex-direction: column;
}

/* Class Utilities */
.z-index-100{ z-index: 100; }

.mb-2{ margin-bottom: 2rem; }